<div>
	<h2 class="text-muted">QMC</h2>
	<hr>
	<div class="row" style="padding-left: 15px;">
		<div class="field" *ngIf=" fields.includes('Unit')">
			<label class="field_label"> Unit </label> 
			<input class="input">
		</div>
		<div class="field" *ngIf=" fields.includes('SOP')">
			<label class="field_label"> SOP </label> 
			<input class="input">
		</div>
		<div class="field" *ngIf=" fields.includes('LOC')">
			<label class="field_label"> LOC </label> 
			<select class="input">
				<option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
				<option value=""></option>
				<option value=""></option>
				<option value=""></option>
			</select>
		</div>
		<div class="field" *ngIf=" fields.includes('Belt')">
			<label class="field_label"> Belt </label> 
			<input value="0"  class="input">
		</div>
		<div class="field" *ngIf=" fields.includes('SOD') ">
			<label class="field_label"> SOD </label> 
			<input class="input">
		</div>
		<div class="field" *ngIf=" fields.includes('ISR') ">
			<label class="field_label"> ISR </label> 
			<input class="input">
		</div>
		<div class="field" *ngIf=" fields.includes('QG1') ">
			<label class="field_label"> QG 1 </label> 
			<input class="input">
		</div>
		<div class="field" *ngIf=" fields.includes('QG2') ">
			<label class="field_label"> QG 2 </label> 
			<input class="input">
		</div>
		<div class="field"  *ngIf=" fields.includes('QG3') ">
			<label class="field_label"> QG 3 </label> 
			<input class="input">
		</div>
		<div class="field"  *ngIf=" fields.includes('QG4') ">
			<label class="field_label"> QG 4 </label> 
			<input class="input">
		</div>
		<div class="field"  *ngIf=" fields.includes('QG5') ">
			<label class="field_label" > QG 5 </label> 
			<input class="input">
		</div>
	</div>
	<hr />
</div>